.highlights {
	@extend .clearfix;
	margin-top: 40px;
}

.highlight {
	display: inline-block;
	margin-bottom: 40px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
	
	@include e('icon') {
		font-size: 5rem;
		display: inline-block;
		height: 50px;
	}

	@include respond-to('mp') {
		margin-right: 30px;
		&:last-of-type {
			margin-right: 0;
		}
	}

	@include respond-to('s') {
		&:not(.single) {
			width: 49%;
			float: left;
			&:nth-child(1) {
				margin-right: 1%;
			}
			&:nth-child(2) {
				margin-left: 1%;
			}
		}
	}

	@include respond-to('xs') {
		display: block;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}