.notification {
	position: relative;
	border-radius: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 60px;
	padding-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;

	@include e('icon') {
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		margin-right: 10px;
		font-size: 3.5rem;
		position: absolute;
		left: 18px;
		top: 50%;
		transform: translateY(-50%);
	}
}